services:
  webtestmathuteq:
    container_name: webtestmathuteq
    build: .
    command: python matholymp/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8500:8000"
    env_file:
      - .env
    restart: always
    networks:
      - djangotestmathuteq_bridge

  nginx_ssl_django_webtestmathuteq:
    container_name: nginx_ssl_django_webtestmathuteq
    image: nginx
    tty: true
    ports:
      - "9051:443"
    volumes:
      - nginxfiles:/home/app/nginx
    command: >
      bash -c "
        mkdir -p /var/www/html /etc/nginx/logs /ssl &&
        cp -r /home/app/nginx/html/. /var/www/html/ &&
        cp -r /home/app/nginx/logs/. /etc/nginx/logs/ &&
        cp -r /home/app/nginx/ssl/. /ssl/ &&
        cp /home/app/nginx/config/nginx.conf /etc/nginx/nginx.conf &&
        nginx -g 'daemon off;'
      "
    restart: always
    depends_on:
      - webtestmathuteq
    networks:
      - djangotestmathuteq_bridge

volumes:
  nginxfiles:
    external: true

networks:
  djangotestmathuteq_bridge:
    driver: bridge
